body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    padding: 15px;
}

input {
    padding: 10px;
    width: 40%;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
}

#movie-list, #theater-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.movie-card, .theater-card {
    background: #333;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #f3f3f3;
    font-size: 0.9em;
    color: #555;
}


